table{
    border: 2px solid blue;
    border-collapse: collapse;
}
th,td{
    border: 1px solid blue;
    padding:5px;
    text-align: center;
}
th{
    background-color: #64ede4;
    color: white;
}
.odd{
    background-color: lightgreen;
}
.even{
    background-color: lightyellow;
}
tr:hover{
    background-color: red;
    color:white;
}
h1{
    text-align: center;
}